.container {
  padding: 24px;
  font-family: Poppins, sans-serif;
}

.avatar > img {
  border-radius: 50%;
}

.sparkle {
  margin-top: 48px;
  margin-bottom: 48px;
  font-weight: 600;
  font-size: clamp(24px, 10vw + 1rem, 80px);
  line-height: 1.3;
}

.description > p {
  margin-top: 24px;
  line-height: 1.6;
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 32px;
  fill: var(--base-fg);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 64px 64px 48px 64px;
  }

  .sparkle {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
