@layer base;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  :where(:root) {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    text-spacing-trim: trim-start;
    text-autospace: normal;
    line-break: strict;
    overflow-wrap: anywhere;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scrollbar-gutter: stable;
  }

  :where(:lang(ja)) {
    font-kerning: none;
  }

  :where(body) {
    margin: unset;
  }

  :where(h1, h2, h3, h4, h5, h6, p, ul, ol, pre, figure, blockquote) {
    margin-block: unset;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-kerning: normal;
    font-feature-settings: 'palt';
  }

  :where(ul, ol) {
    padding-inline-start: unset;
    list-style-type: '';
  }

  :where(pre) {
    padding-block: 0.2rem;
    padding-inline: 0.4rem;
    overflow-x: auto;
    font-family: monospace;
    text-autospace: no-autospace;
    text-spacing-trim: space-all;
  }

  :where(img, picture, video) {
    max-inline-size: 100%;
    vertical-align: bottom;
    block-size: auto;
    outline: 3px solid oklch(0 0 0 / 0.1);
    outline-offset: -3px;
  }

  :where(blockquote, figure) {
    margin-inline: unset;
  }

  :where(time) {
    display: block;
    text-autospace: no-autospace;
  }
}

@view-transition {
  navigation: auto;
}

:root {
  --text: oklch(0.3171 0 0);
  --sub-text: oklch(0.4855 0 0);
  --body-background: oklch(0.9851 0 0);
  --footer-background: oklch(0.97 0.003 265);
  --primary: oklch(0.652 0.102 233);
  --secondary: oklch(0.431 0.068 233);
  --highlight: oklch(0.953 0.014 241);
  --code: oklch(0.329 0.032 275);
  --code-lang: oklch(0.5 0.02 240);
  --blockquote: oklch(0.94 0.009 265);
}

.google-sans {
  font-family: 'Google Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: var(--body-background);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  margin-block-start: 2.4rem;
  margin-block-end: 1rem;
}

p {
  color: var(--text);
}

a {
  color: var(--primary);
  text-decoration-color: var(--primary);
  text-decoration-thickness: 1px;
}

a:visited {
  color: var(--secondary);
  text-decoration-color: var(--secondary);
}

time {
  color: var(--sub-text);
  font-size: small;
}

hr {
  height: 0;
  margin-block: 4rem;
  border-top-width: 1px;
  color: var(--sub-text);
}

body {
  > main {
    flex: 1;
    padding-block-end: 3rem;
  }

  > header > *,
  > main > *,
  > footer > * {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  > header > nav,
  > footer > nav {
    margin-block: 3rem;
  }

  > header > nav > a {
    font-size: 2rem;
    font-weight: bold;
  }

  > main > section > ol > li {
    margin-block-start: 3rem;
  }

  > main > section > ol > li > a {
    font-size: 1.4rem;
  }

  > main > article {
    margin-block-start: 3rem;
  }

  > footer {
    background-color: var(--footer-background);
  }

  > footer > nav > ul {
    padding-inline-start: 1.5rem;
    list-style-type: square;
  }

  > footer {
    li:not(:first-child) {
      padding-block-start: 0.5rem;
    }
  }
}

article {
  > time + h1 {
    margin-block-start: 0;
  }

  h1 {
    margin-block-end: 3rem;
  }

  p {
    margin-block: 1rem;
  }

  ul,
  ol {
    padding-inline-start: 1.5rem;
    list-style-type: square;
  }

  :not(pre) > code {
    padding-block: 0.125rem;
    padding-inline: 0.25rem;
    background-color: var(--highlight);
  }

  div:has(> pre) {
    color: var(--code-lang);
    background-color: var(--code);
  }

  figure {
    margin-block: 2rem;
    margin-inline: 0;
  }

  figcaption {
    color: var(--sub-text);
    font-size: small;
    text-align: center;
  }

  blockquote {
    padding-inline: 1rem;
    border-inline-start: 0.25rem solid var(--blockquote);
  }

  time:hover::after {
    content: attr(data-updated);
    margin-inline-start: 1rem;
  }

  h1::before {
    content: '# ' / '';
  }

  h2::before {
    content: '## ' / '';
  }

  h3::before {
    content: '### ' / '';
  }

  code:not(pre > code)::before,
  code:not(pre > code)::after {
    content: '`' / '';
  }

  strong::before,
  strong::after {
    content: '**' / '';
  }

  em::before,
  em::after {
    content: '_' / '';
  }

  s::before,
  s::after {
    content: '~~' / '';
  }

  div:has(> pre)::before {
    content: '```' attr(data-lang) '\A' / '';
  }

  div:has(> pre)::after {
    content: '\A```' / '';
  }

  blockquote > p::before {
    color: #ccc;
    content: '> ' / '';
  }

  blockquote > footer::before {
    content: '\2014' / '';
  }
}
